* {
    box-sizing: border-box;
    margin: 0;
}

#wrapper {
    /*подвинем на серединку*/
    width: 1280px;
    margin: 0 auto;
}

.product {
    width: 1280px;
    height: 300px;
    background-color: #445161;
    padding: 0 10px 30px 20px;
    margin-top: 20px;
}

.product-left {
    float: left;
    padding: 24px;
}

.product::after {
    display: block;
    content: "";
    clear: both;
}

.product-title {
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-family: Arial;
    font-size: 59px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.product-list {
    width: 492px;
    height: 146px;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: #ffffff;
    list-style-type: none;
    padding-top: 24px;
    padding-left: 0;
}

.product-list-item::before {
    content: url('../img/check_icon.png');
    padding-right: 14px;
}

.product-img {
    padding-right: 50px;
    padding-top: 50px;
    float: right;
}

.about-title {
    width: 254px;
    height: 38px;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #445161;
}

.about-text {
    width: 649px;
    height: 88px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    padding-top: 18px;
}

.about {
    width: 1280px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about-left {
    height: 242px;
}

.dignity {
    width: 1280px;
    height: 376px;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    padding: 32px 10px 0px 50px;
}

.dignity-title {
    width: 351px;
    height: 36px;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #445161;
    flex-basis: 100%;
}

.det {
    flex-basis: 50%;
    width: 526px;
    height: 63px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.screenshots {
    width: 1280px;
    height: 487px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.screenshots-title {
    width: 165px;
    height: 35px;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #445161;
    flex-basis: 100%;
    padding: 10px 0px 40px 0px;
}

.screenshots-subtitle {
    width: 328px;
    height: 33px;
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #445161;
    float: left;
    padding-left: 17px;
}

.screenshots-text {
    width: 383px;
    height: 118px;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
    float: left;
    padding-left: 23px;
}

.screenshots-content-1 {
    flex-basis: 50%;
}

.screenshots-img {
    float: left;
}

.screenshots-content-2 {
    flex-basis: 50%;
}

.screenshots-content-3 {
    flex-basis: 50%;
}

.screenshots-content-4 {
    flex-basis: 50%;
}

.reviews {
    width: 1280px;
    height: 425px;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reviews-title {
    width: 111px;
    height: 35px;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #445161;
    flex-basis: 100%;
    padding: 40px 0 36px 0px;
}

.reviews-text {
    width: 436px;
    height: 77px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.review-text-small {
    width: 68px;
    height: 18px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #989898;
}

.reviews-inner {
    width: 576px;
    position: relative;
    height: 145px;
}

reviews-inner::after {
    display: block;
    content: "";
    clear: both;
}

.reviews-inner::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right: 10px solid #ebebeb;
    position: absolute;
    top: 39px;
    left: 73px;
}

.reviews-text-inner {
    float: left;
    width: 483px;
    height: 121px;
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 5px;
    margin-left: 18px;
}

.reviews-img {
    float: left;
}

.buy {
    width: 1280px;
    height: 656px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
}

.buy-title {
    width: 140px;
    height: 37px;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #445161;
    flex-basis: 100%;
}

.buy-standart {
    width: 300px;
    height: 306px;
    background-color: #445162;
    margin-right: 45px;
    border-radius: 5px;
}

.buy-premium {
    width: 300px;
    height: 404px;
    background-color: #445162;
    margin-right: 45px;
    border-radius: 5px;
}

.buy-lux {
    width: 300px;
    height: 499px;
    background-color: #445162;
    margin-right: 45px;
    border-radius: 5px;
}

.buy-subtitle {
    height: 50px;
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 12px;
}

.buy-text {
    height: 35px;
    font-family: Arial;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: #445162;
    padding-top: 15px;
}

.buy-minicontainer {
    width: 300px;
    height: 71px;
    border: solid 2px #445162;
    background-color: #fff;
}

.buy-list {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-top: 17px;
}

.buy-btn {
    width: 260px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #445161;
}

button[type="submit"] {
    border-radius: 8px;
}

.contacts {
    width: 1280px;
    height: 509px;
    background-color: #445162;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.contacts-title {
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
    flex-basis: 100%;
}

.field {
    outline: none;
    max-width: 500px;
    min-width: 500px;
    ;
    width: 500px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 25px;
}

input:required {
    height: 40px;
}

.field-text {
    height: 170px;
}

input::placeholder {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #445162;
    padding-left: 10px;
}

textarea::placeholder {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #445162;
    padding-left: 10px;
    padding-top: 5px;
}

.contacts-btn {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #445162;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    align-self: center;
}

.product-video {
    margin: 47px;
    margin-left: 192px;
}

.contacts-skype {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.contacts-isq {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.contacts-email {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.contacts-tel {
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.contacts-skype::before {
    content: url('../img/skype%20icon.png');
    position: absolute;
    left: -22px;
}

.contacts-isq::before {
    content: url('../img/icq%20icon.png');
    position: absolute;
    left: -22px;
}

.contacts-email::before {
    content: url('../img/email%20icon.png');
    position: absolute;
    left: -22px;
}

.contacts-tel::before {
    content: url('../img/phone%20icon.png');
    position: absolute;
    left: -22px;
}


/*
.contacts-audio {
    margin-top: 50px;
    margin-left: 10px;
}
*/

.contacts-inner-left {
    margin-left: 235px;
}

.contacts-inner-right {
    margin-right: 223px;
    position: relative;
}

.con {
    position: relative;
    padding-bottom: 15px;
    padding-left: 10px;
}

.con a {
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
}

.con-audio {
    position: absolute;
    top: 332px;
    left: 135px;
    outline: none;
}

.right-img {
    position: absolute;
    left: -22px;
    top: 169px;
}

.contacts-form {
    display: flex;
    flex-direction: column;
}

input[type="date"] {
    position: absolute;
    top: -93px;
    left: 280px;
    padding: 7px;
    border-radius: 6px;
}

input[type="time"] {
    position: absolute;
    top: -93px;
    left: -825px;
    padding: 7px;
    border-radius: 6px;
}